@model ProjAvaliacaoP2.tb_medico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_medico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_nascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_nascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_endereco.cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_endereco.cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_especialidade.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_especialidade.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
