@model ProjAvaliacaoP2.tb_endereco

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Tem certeza que deseja deletar o registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Logradouro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logradouro)
        </dd>

        <dt>
            Número
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            Complemento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.complemento)
        </dd>

        <dt>
            CEP
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cep)
        </dd>

        <dt>
            Bairro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bairro)
        </dd>

        <dt>
            Localidade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localidade)
        </dd>

        <dt>
            UF
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uf)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
