@model IEnumerable<ProjAvaliacaoP2.tb_paciente>

@{
    ViewBag.Title = "Index";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            CPF
        </th>
        <th>
            RG
        </th>
        <th>
            Telefone
        </th>
        <th>
            Data de Nascimento
        </th>
        <th>
            Ação
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_nascimento)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalhar", "Details", new { id = item.id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
