@model IEnumerable<ProjAvaliacaoP2.tb_consulta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.data_consulta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_clinica.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_medico.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_paciente.nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.data_consulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_clinica.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_medico.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_paciente.nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
